html,
body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin: 0;
}

#pag {
    font-size: xx-large;
}

.logo-container {
    padding: 10px 20px;
    margin: auto 0;
}

.nav {
    color:white;
    margin: auto 30px;
    padding: 20px;
    font-size: xx-large;

}

html,body{
    height:100%;
}

.top {
    position: fixed;
    display: flex;
    top:0;
    height: 92px;
    justify-content: space-between;
    background-color: #00b3b7;
    color: #fff;
    width: 100%;
    overflow: hidden;
}
.left {
    padding: 10px;
    width: 250px;
    float:left;
    min-height:100%;
    max-height: available;
    border-right-style: solid;
    font-size: small;
    margin-bottom: 85px;
    text-align: justify-all;
}
main {
    margin-top: 92px;
    text-align: center;
    padding: 10px;
    margin-left:280px;
    min-height:100%;
    margin-bottom: 80px;
}

footer{
    background-color: white;
    position: fixed;
    bottom: 0;
    border-top-style: solid;
    padding-left: 10px;
    height: 80px;
    min-height: available;
    width: 100%;
}

figure{
    display: inline-block;
    margin: 0;
}

.center{
    justify-content: center;
}

.spaces{
    line-height: 25px;
}

.mosaic{
    padding: 15px;
}

a {
    text-decoration: none;
}



/*CSS Especifico para la pagina*/

.contenedor {
	width: 90%;
	max-width: 1200px;
	margin: auto;
	padding: 40px 0;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
}

.contenedor a{
  text-decoration: underline;
}

.contenedor-tiendas {
  grid-column: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.contenedor-tiendas p, .contenedor-tiendas h3{
    border-radius: 10px;
    background: #00b4fc;
}


.card {
	border-radius: 10px;
	min-height: 200px;
	font-weight: bold;
	padding: 20px;
	overflow: visible;
	background-size: cover;
	background-position: center center;
}

.card .textos {
	height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card h3{
  color: white;
}

.card p{
  color: white;
}


.banner {
  grid-column: 2;
	border-radius: 10px;
	text-align: center;
	padding: 20px;
	background-size: cover;
	background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.banner li,.banner h3, .banner p{
    border-radius: 10px;
    background: white;
}

.banner ul {
	list-style: none;
  align-items: center;
}

.banner ul li {
	margin: 15px;
	font-weight: bold;
}

.banner span {
  border-radius: 10px;
  background:white;
}

main h2{
  text-align: center;
}

#CSand{
    background-image: url('./images/MenuComida/CemitasSandy_logo.jpg');
}

#EAnt{
    background-image: url('./images/MenuComida/LaEsquina_logo.jpg');
}

#TAamp{
    background-image: url('./images/MenuComida/TacosCampechanos_logo.jpg');
}

#Lob{
    background-image: url('./images/MenuComida/ElLobo2_logo.jpg');
}

#TTaz{
    background-image: url('./images/MenuComida/TacosTaz_logo.jpg')
}
#Tzop{
    background-image: url('./images/MenuComida/Tzopelli_logo.jpg')
}

#CEnd{
    background-image: url('./images/MenuComida/Banner_side.jpg')
}