
html,
body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin: 0;
}

#pag {
    font-size: xx-large;
}

.logo-container {
    padding: 10px 20px;
    margin: auto 0;
}

.nav {
    color:white;
    margin: auto 30px;
    padding: 20px;
    font-size: xx-large;

}

html,body{
    height:100%;
}

.top {
    position: fixed;
    display: flex;
    top:0;
    height: 92px;
    justify-content: space-between;
    background-color: #00b3b7;
    color: #fff;
    width: 100%;
    overflow: hidden;
}

.right {
    padding: 10px;
    width: 400px;
    float:right;
    min-height:100%;
    max-height: available;
    border-left-style: solid;
    font-size: small;
    margin-bottom: 80px;
}

main {
    margin-top: 92px;
    text-align: center;
    padding: 10px;
    margin-right:420px;
    min-height:100%;
    margin-bottom: 80px;
}

footer{
    background-color: white;
    position: fixed;
    bottom: 0;
    border-top-style: solid;
    padding-left: 10px;
    height: 80px;
    min-height: available;
    width: 100%;
}

figure{
    display: inline-block;
    margin: 0;
}

.center{
    text-align: center;
    justify-content: center;
}

.spaces{
    line-height: 25px;
}

.mapag{
    padding: 3px;
}
.mapag iframe{
    width: 100%;
    height: 600px;
}

table, th, td{
    text-align-all: center;
    width: available;
    border-style: outset;
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
}